<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Reset Password - DealReview</title>
</head>

<body>
    <div id="id">
        <section class="main">
            <div class="header">
                <span>Deal</span>Review
            </div>
            <div class="title">
                <h3>Reset your password</h3>
            </div>
            <div class="fields">
                <input type="password" name="password" id="password" placeholder="Password" class="field" required>
                <input type="password" name="cpassword" id="cpassword" placeholder="Confirm Password" class="field"
                    required>
            </div>
            <div class="button">
                Change!
            </div>
        </section>
    </div>
</body>

</html>